/_ReSharper*/
*.opensdf
*.sdf
*.suo
*.user
*.ipch
*.vsp
*.psess
/ipch/
/headtracker/Debug
/headtracker/Release
/Release
/Debug
/headtracker-demo/Debug
/headtracker-demo/Release
/thirdparty/bin/head.blend*